# PostgreSQL
POSTGRES_DB=yours
POSTGRES_USER=yours
POSTGRES_PASSWORD=yours
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# API
API_HOST=0.0.0.0
API_PORT=8000

#Cors
ALLOWED_ORIGINS=["http://localhost:8501", "http://127.0.0.1:8501"]

# App
DEBUG=false
LOG_LEVEL=INFO
